.title-wrapper {
	font-family: 'Baloo Chettan', cursive;
	background: linear-gradient(to right, rgb(236, 0, 191), rgb(0, 67, 233));
	border-radius: 30px;
	margin: 20px 20px 70px 20px;
	padding: 20px;
	transition: 1s ease;
}

.title {
	text-align: center;
	transition: 0.5s ease;
}

.title:hover {

	transform: rotate(-7deg);

}